<!DOCTYPE html>
<html data-ng-app="color-schemer" data-ng-strict-di>
    <head>
        <title>Color Schemer</title>
        <link rel="stylesheet" href="lib/normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Color Schemer</h1>
        <div class="cs-cells"
             data-ng-controller="CellsController">
            <div class="cs-cells-inputs">
                <label for="numberOfColors">
                    <input type="number"
                           min="0"
                           name="numberOfColors"
                           data-ng-model="numberOfColors"
                           data-ng-change="reload()">
                    Number of colors [0, &infin;)
                </label>
                <label for="distanceBetweenColors">
                    <input type="number"
                           min="0"
                           max="360"
                           name="distanceBetweenColors"
                           data-ng-model="distanceBetweenColors"
                           data-ng-change="reload()">
                    Distance between colors (degrees) [0, 360)
                </label>
                <label for="center">
                    <input type="number"
                           name="center"
                           data-ng-model="center"
                           data-ng-change="reload()">
                    Center (degrees) (-&infin;, &infin;)
                </label>
                <label for="saturation">
                    <input type="number"
                           min="0"
                           max="1"
                           step="0.01"
                           name="saturation"
                           data-ng-model="saturation"
                           data-ng-change="reload()">
                    Saturation (percent) [0, 1]
                </label>
                <label for="lightness">
                    <input type="number"
                           min="0"
                           max="1"
                           step="0.01"
                           name="lightness"
                           data-ng-model="lightness"
                           data-ng-change="reload()">
                    Lightness (percent) [0, 1]
                </label>
            </div>
            <div class="cs-cells-cells">
                <div data-cs-cell
                     data-hsl="color"
                     data-ng-repeat="color in colors">
                </div>
            </div>
        </div>
        <script src="lib/angular.js"></script>
        <script src="color-schemer.js"></script>
    </body>
</html>
