[data-cs-cell] {
    display: inline-block;
}

.cs-cells-inputs {
    padding: 5px;
}

.cs-cells-inputs label {
    display: block;
}

.cs-cells-inputs label:not(:last-child) {
    margin-bottom: 2px;
}

.cs-cells-inputs label input {
    width: 5em;
}

.cs-cells-cells {
    padding: 5px;
}

.cs-cell,
.cs-cell-color {
    border-radius: 5px;
}

.cs-cell {
    display: inline-block;
    width: 100px;
    margin: 0 5px 5px 0;
    padding: 1px;
    border: 1px solid #ddd;
}

.cs-cell-color {
    width: 100%;
    height: 98px;
}

.cs-cell-code {
    text-align: center;
}